services:
  tritonserver:
    image: registry.cn-heyuan.aliyuncs.com/leo03w/triton_insightface:25.10-py3
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tritonserver
    ports:
      - "8000:8000"   # HTTP
      - "8001:8001"   # gRPC
      - "8002:8002"   # Metrics
    # 模型与代码已打进镜像，无需挂载 volume
    command: >
      tritonserver
      --model-repository=/models
      --strict-model-config=false
      --log-verbose=1
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/v2/health/ready"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    restart: unless-stopped
